<div class="jumbotron">
    <h1 class="display-4 text-center">Chatter</h1>
    <div class="card">
        <div class="card-body" id="chatbox">
        <%# @messages.each do |message| %>
            <%# render 'messages/message', message: message %>
        <%# end %>
        </div>
    </div>
</div>